Python

pycache/
*.py[cod]
*$py.class
.venv/
venv/
*.log

Variables de Entorno (SECRETOS)

.env

IDE

.vscode/
.idea/

Docker / Local Data

mongo_data/
mosquitto_data/
mosquitto_log/

macOS

.DS_Store